@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 229;
}

body {
  background-image: 
    /* Capa 1: Un filtro negro al 85% de opacidad para que el texto se lea */
    linear-gradient(rgba(5, 5, 5, 0.509), rgba(5, 5, 5, 0.515)),
    /* Capa 2: Tu imagen de fondo */
    url('/BG.png');
  color: #E5E5E5;
  min-height: 100vh;
}

/* CLASE GLASSMORPHISM */
.glass-panel {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.recharts-rectangle {
    rx: 6px;
    ry: 6px;
}

/* 👇 AQUÍ SÍ VA EL CÓDIGO DEL SCROLLBAR 👇 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}